:root {
    --primary-color: #1e6f9f;
    --secondary-color: #de466c;
    --white-color-one: #fff;
    --bg-color-dark-one: #0D0D0D;
    --bg-color-dark-two: #262626;
    --bg-color-dark-three: #808080;
    --header-height: 200px;
    --main-border-radius: 8px;
}

.header {
    background: var(--bg-color-dark-one);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    position: relative;
}

.headerContent {
    display: flex;
    align-items: center;
    gap: 8px;
    position: relative;
    top: calc(-25px / 2);
}

.headerContent .title {
    font-size: 66px;
    line-height: 80px;
    font-weight: 800;
    letter-spacing: 12px;
    background: url(/src/assets/blurred-blue-gradient-wallpaper-preview.jpg) 0 0 / cover no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.taskForm {
    position: absolute;
    height: 50px;
    bottom: -25px;
    width: 100%;
    max-width: 736px;
    display: flex;
    gap: 8px;
    padding: 0 1rem;
}

.taskForm input {
    height: 100%;
    width: 100%;
    color: var(--white-color-one);
    background: var(--bg-color-dark-two);
    border: 1px solid var(--bg-color-dark-one);
    border-radius: var(--main-border-radius);
    padding: 0 16px;
    font-size: 16px;
}

.taskForm input:focus {
    outline: 2px solid var(--primary-color);
}

.taskForm input::placeholder {
    color: var(--bg-color-dark-three);
}

.taskForm button.taskFormButtonMobile, 
.taskForm button.taskFormButtonLaptop {
    height: 100%;
    background: var(--primary-color);
    color: var(--white-color-one);
    border: none;
    border-radius: var(--main-border-radius);
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 0 16px;
    font-size: 14px;
    font-weight: bold;
}

.taskForm button.taskFormButtonMobile {
    display: none;
}

.taskFormContainer {
    display: flex;
    flex: 1;
    gap: 8px;
}

.FlagsSelectOption {
    padding-bottom: 0px !important;
    border-radius: var(--main-border-radius) !important; 
}

.FlagsSelectOption button {
    height: 100%;
    color: var(--bg-color-dark-three);
    background: var(--bg-color-dark-two);
    width: 105px;
}

.FlagsSelectOption button:focus {
    outline: 2px solid var(--primary-color);
}

.FlagsSelectOption ul {
    background: var(--bg-color-dark-one);
}

.FlagsSelectOption ul li {
    margin: 0;
    padding: 8px 10px;
}

.FlagsSelectOption ul li:hover {
    background-color: var(--bg-color-dark-two);
}

/* Styles pour les écrans inférieurs à 768px */
@media (max-width: 767px) {
    .FlagsSelectOption {
        position: fixed;
        top: 16px;
        right: 0;
        height: 45px;
        margin: 0 1rem;
    }

    .taskForm button.taskFormButtonLaptop {
        display: none;
    }

    .taskForm button.taskFormButtonMobile {
        display: flex;
    }
}

@media (min-width: 768px) {}

/* Styles pour les écrans entre 768px et 992px */
@media (min-width: 768px) and (max-width: 991px) {}

/* Styles pour les écrans supérieurs à 992px */
@media (min-width: 992px) {}