:root {
    --primary-color: #1e6f9f;
    --secondary-color: #de466c;
    --white-color-one: #fff;
    --bg-color-dark-one: #0D0D0D;
    --bg-color-dark-two: #262626;
    --bg-color-dark-three: #808080;
    --header-height: 200px;
    --main-border-radius: 8px;
}

.header {
    background: var(--bg-color-dark-one);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    position: relative;
}

.headerContent {
    display: flex;
    align-items: center;
    gap: 8px;
    position: relative;
    top: calc(-25px / 2);
}

.headerContent .title {
    font-size: 45px;
    line-height: 80px;
    font-weight: 800;
    letter-spacing: 12px;
    background: url(/src/assets/blurred-blue-gradient-wallpaper-preview.jpg) 0 0 / cover no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Styles pour les écrans inférieurs à 768px */
@media (max-width: 767px) {
    .headerContent .title {
        text-align: center;
    }
}